<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Karar Anı...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="vignette-overlay"></div>
    <div class="parallax-scene" id="scene">
        <div data-depth="0.1" class="parallax-layer" style="background-image: url('https://w.wallhaven.cc/full/zy/wallhaven-zyxvry.png');"></div>
        <div data-depth="0.2" class="parallax-layer" style="background-image: url('https://w.wallhaven.cc/full/m9/wallhaven-m9xyg8.png'); opacity: 0.5;"></div>
    </div>

    <div class="main-event-container">
        <h1 id="main-question" class="content-container" style="opacity: 1;">Benimle barışır mısın, {{ args.a }}?</h1>
        <div id="yes-btn" class="game-button">Evet</div>
        <div id="no-btn" class="game-button">Hayır</div>
    </div>

    <!-- Ses Efektleri -->
    <audio id="no-sound" src="https://cdn.pixabay.com/audio/2022/03/15/audio_29b242a592.mp3"></audio>
    
    <!-- Gerekli Kütüphaneler -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        // Parallax efektini başlat
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(scene);

        // Final linkini JS'e aktar
        const finalURL = "{{ final_url }}";
    </script>
</body>
</html>
