<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kırık Parçalar...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <canvas class="background-canvas" data-bg-type="{{ args.bg }}"></canvas>
    <div class="container">
        <h2>Bazı şeyler kırılır...</h2>
        <p>...ama bu, onların daha güçlü bir şekilde birleşemeyeceği anlamına gelmez.</p>
        <a href="{{ next_url }}" class="action-button">Onar</a>
    </div>
    <script>document.documentElement.style.setProperty('--theme-color', '#{{ args.color }}');</script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
