<!DOCTYPE html>
<html lang="tr">
<head><title>Onarım...</title><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <div class="kintsugi-container">
        <h2 id="kintsugi-title" style="opacity: 1; transition: opacity 1s;">Kalbi onarmak için parçalara dokun...</h2>
        <div class="broken-heart">
            <!-- Parçalar JS tarafından eklenecek -->
        </div>
        <a href="{{ final_url }}" id="yes-btn">BİZ?</a>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
